# Step 1: Creating the Database Tables
Install SQLite (optional, it's usually pre-installed) Google Colab already includes SQLite by default, but you can double-check by running the following command:

In [16]:
!apt-get install sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
sqlite3 is already the newest version (3.37.2-2ubuntu0.3).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.

2. Creating the Database and Tables in Python using SQLite

In [17]:
import sqlite3
from tabulate import tabulate

# Connect to SQLite database (it will create a new file if it doesn't exist)
conn = sqlite3.connect('customer_orders.db')
cursor = conn.cursor()

# Create Customers table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Customers (
    CustomerID INTEGER PRIMARY KEY,
    CustomerName TEXT NOT NULL,
    Country TEXT NOT NULL
)
''')

# Create Orders table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Orders (
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    OrderDate TEXT NOT NULL,
    TotalAmount REAL,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
)
''')

conn.commit()

# Step 2: Inserting Data into the Tables

The error you're encountering, `IntegrityError: UNIQUE constraint failed: Customers.CustomerID`, occurs because you're trying to insert a value for `CustomerID` that already exists in the `Customers` table. This means that the table already contains records with the same `CustomerID`.

To fix this, you have a few options:

### Option 1: Clear the Table Before Inserting
You can delete existing data from the table before reinserting the values to avoid duplicate `CustomerID` errors.

Add this before your insert statement:

```python
# Clear the Customers table before inserting
cursor.execute('DELETE FROM Customers')

# Clear the Orders table before inserting
cursor.execute('DELETE FROM Orders')

# Insert data into Customers table
cursor.executemany('''
INSERT INTO Customers (CustomerID, CustomerName, Country) VALUES (?, ?, ?)
''', [
    (1, 'Alice', 'USA'),
    (2, 'Bob', 'UK'),
    (3, 'Charlie', 'USA'),
    (4, 'Diana', 'Canada'),
    (5, 'Eve', 'Australia')
])

# Insert data into Orders table
cursor.executemany('''
INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES (?, ?, ?, ?)
''', [
    (101, 1, '2024-01-15', 120.50),
    (102, 1, '2024-02-10', 80.00),
    (103, 2, '2024-01-20', 200.00),
    (104, 3, '2024-03-12', 150.00),
    (105, 4, '2024-02-05', 60.00),
    (106, 5, '2024-03-30', 90.00)
])

conn.commit()
```

This will ensure that all previous data is removed, and your new inserts will work without conflicting with the existing records.

### Option 2: Use `INSERT OR IGNORE`
If you want to insert data but ignore entries that would violate the unique constraint, you can use `INSERT OR IGNORE`. This skips inserting any duplicate `CustomerID` rows without throwing an error.

For example:

```python
cursor.executemany('''
INSERT OR IGNORE INTO Customers (CustomerID, CustomerName, Country) VALUES (?, ?, ?)
''', [
    (1, 'Alice', 'USA'),
    (2, 'Bob', 'UK'),
    (3, 'Charlie', 'USA'),
    (4, 'Diana', 'Canada'),
    (5, 'Eve', 'Australia')
])

# Same for Orders
cursor.executemany('''
INSERT OR IGNORE INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES (?, ?, ?, ?)
''', [
    (101, 1, '2024-01-15', 120.50),
    (102, 1, '2024-02-10', 80.00),
    (103, 2, '2024-01-20', 200.00),
    (104, 3, '2024-03-12', 150.00),
    (105, 4, '2024-02-05', 60.00),
    (106, 5, '2024-03-30', 90.00)
])

conn.commit()
```

This option prevents the same `CustomerID` from being inserted multiple times.

### Option 3: Drop and Recreate the Table
If you are testing and want to start fresh each time, you can drop the tables before recreating them:

```python
# Drop tables if they exist
cursor.execute('DROP TABLE IF EXISTS Customers')
cursor.execute('DROP TABLE IF EXISTS Orders')

# Recreate the tables
cursor.execute('''
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY,
    CustomerName TEXT NOT NULL,
    Country TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE Orders (
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    OrderDate TEXT NOT NULL,
    TotalAmount REAL,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
)
''')

# Insert data again
cursor.executemany('''
INSERT INTO Customers (CustomerID, CustomerName, Country) VALUES (?, ?, ?)
''', [
    (1, 'Alice', 'USA'),
    (2, 'Bob', 'UK'),
    (3, 'Charlie', 'USA'),
    (4, 'Diana', 'Canada'),
    (5, 'Eve', 'Australia')
])

cursor.executemany('''
INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES (?, ?, ?, ?)
''', [
    (101, 1, '2024-01-15', 120.50),
    (102, 1, '2024-02-10', 80.00),
    (103, 2, '2024-01-20', 200.00),
    (104, 3, '2024-03-12', 150.00),
    (105, 4, '2024-02-05', 60.00),
    (106, 5, '2024-03-30', 90.00)
])

conn.commit()
```

This ensures you're always working with a fresh table and will avoid any conflicts.

# Insert data into Customers table
cursor.executemany('''
INSERT INTO Customers (CustomerID, CustomerName, Country) VALUES (?, ?, ?)
''', [
    (1, 'Alice', 'USA'),
    (2, 'Bob', 'UK'),
    (3, 'Charlie', 'USA'),
    (4, 'Diana', 'Canada'),
    (5, 'Eve', 'Australia')
])

# Insert data into Orders table
cursor.executemany('''
INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES (?, ?, ?, ?)
''', [
    (101, 1, '2024-01-15', 120.50),
    (102, 1, '2024-02-10', 80.00),
    (103, 2, '2024-01-20', 200.00),
    (104, 3, '2024-03-12', 150.00),
    (105, 4, '2024-02-05', 60.00),
    (106, 5, '2024-03-30', 90.00)
])

conn.commit()

In [18]:
# Clear the Customers table before inserting
cursor.execute('DELETE FROM Customers')

# Clear the Orders table before inserting
cursor.execute('DELETE FROM Orders')

# Insert data into Customers table
cursor.executemany('''
INSERT INTO Customers (CustomerID, CustomerName, Country) VALUES (?, ?, ?)
''', [
    (1, 'Alice', 'USA'),
    (2, 'Bob', 'UK'),
    (3, 'Charlie', 'USA'),
    (4, 'Diana', 'Canada'),
    (5, 'Eve', 'Australia')
])

# Insert data into Orders table
cursor.executemany('''
INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES (?, ?, ?, ?)
''', [
    (101, 1, '2024-01-15', 120.50),
    (102, 1, '2024-02-10', 80.00),
    (103, 2, '2024-01-20', 200.00),
    (104, 3, '2024-03-12', 150.00),
    (105, 4, '2024-02-05', 60.00),
    (106, 5, '2024-03-30', 90.00)
])

conn.commit()

#Step 3: Writing SQL Queries

Problem 1: Customer Orders with Conditional Logic

In [19]:
cursor.execute('''
SELECT
    c.CustomerName,
    c.Country,
    o.TotalAmount,
    CASE
        WHEN o.TotalAmount > 150 THEN 'High'
        WHEN o.TotalAmount BETWEEN 100 AND 150 THEN 'Medium'
        ELSE 'Low'
    END AS OrderCategory
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
''')

results = cursor.fetchall()
print(tabulate(results, headers=["CustomerName", "Country", "TotalAmount", "OrderCategory"]))

CustomerName    Country      TotalAmount  OrderCategory
--------------  ---------  -------------  ---------------
Alice           USA                120.5  Medium
Alice           USA                 80    Low
Bob             UK                 200    High
Charlie         USA                150    Medium
Diana           Canada              60    Low
Eve             Australia           90    Low

Problem 2: Grouping and Aggregation by Country

In [20]:
cursor.execute('''
SELECT
    c.Country,
    COUNT(o.OrderID) AS TotalOrders
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
GROUP BY c.Country
HAVING COUNT(o.OrderID) > 1
''')

results = cursor.fetchall()
print(tabulate(results, headers=["Country", "TotalOrders"]))

Country      TotalOrders
---------  -------------
USA                    3

Problem 3: Combining Tables with Joins (Outer Join)
SQLite doesn't directly support OUTER JOIN, so you can use a LEFT JOIN to include customers who haven’t placed an order.

In [21]:
cursor.execute('''
SELECT
    c.CustomerName,
    o.OrderID,
    o.TotalAmount
FROM Customers c
LEFT JOIN Orders o ON c.CustomerID = o.CustomerID
''')

results = cursor.fetchall()
print(tabulate(results, headers=["CustomerName", "OrderID", "TotalAmount"]))

CustomerName      OrderID    TotalAmount
--------------  ---------  -------------
Alice                 102           80
Alice                 101          120.5
Bob                   103          200
Charlie               104          150
Diana                 105           60
Eve                   106           90

Problem 4: Subqueries

In [22]:
cursor.execute('''
SELECT
    c.CustomerName,
    o.TotalAmount
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
WHERE o.TotalAmount > (SELECT AVG(TotalAmount) FROM Orders)
''')

results = cursor.fetchall()
print(tabulate(results, headers=["CustomerName", "TotalAmount"]))

CustomerName      TotalAmount
--------------  -------------
Alice                   120.5
Bob                     200
Charlie                 150

Problem 5: Using a CTE for Average Order Amount

In [23]:
cursor.execute('''
WITH CountryAverage AS (
    SELECT
        c.Country,
        AVG(o.TotalAmount) AS AvgAmount
    FROM Orders o
    JOIN Customers c ON o.CustomerID = c.CustomerID
    GROUP BY c.Country
)
SELECT
    c.CustomerName,
    o.TotalAmount
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
JOIN CountryAverage ca ON c.Country = ca.Country
WHERE o.TotalAmount > ca.AvgAmount
''')

results = cursor.fetchall()
print(tabulate(results, headers=["CustomerName", "TotalAmount"]))

CustomerName      TotalAmount
--------------  -------------
Alice                   120.5
Charlie                 150

# Step 4: Closing the Database Connection
Don't forget to close the database connection when you're done.

In [14]:
conn.close()

# Full Python Code for Google Colab

In [2]:
import sqlite3
from tabulate import tabulate

# Connect to SQLite database
conn = sqlite3.connect('customer_orders.db')
cursor = conn.cursor()

# Create Customers and Orders table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Customers (
    CustomerID INTEGER PRIMARY KEY,
    CustomerName TEXT NOT NULL,
    Country TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Orders (
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    OrderDate TEXT NOT NULL,
    TotalAmount REAL,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
)
''')

# Insert data into Customers table
cursor.executemany('''
INSERT INTO Customers (CustomerID, CustomerName, Country) VALUES (?, ?, ?)
''', [
    (1, 'Alice', 'USA'),
    (2, 'Bob', 'UK'),
    (3, 'Charlie', 'USA'),
    (4, 'Diana', 'Canada'),
    (5, 'Eve', 'Australia')
])

# Insert data into Orders table
cursor.executemany('''
INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES (?, ?, ?, ?)
''', [
    (101, 1, '2024-01-15', 120.50),
    (102, 1, '2024-02-10', 80.00),
    (103, 2, '2024-01-20', 200.00),
    (104, 3, '2024-03-12', 150.00),
    (105, 4, '2024-02-05', 60.00),
    (106, 5, '2024-03-30', 90.00)
])

conn.commit()

# Queries
# Problem 1
cursor.execute('''
SELECT
    c.CustomerName,
    c.Country,
    o.TotalAmount,
    CASE
        WHEN o.TotalAmount > 150 THEN 'High'
        WHEN o.TotalAmount BETWEEN 100 AND 150 THEN 'Medium'
        ELSE 'Low'
    END AS OrderCategory
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
''')

results = cursor.fetchall()
print(tabulate(results, headers=["CustomerName", "Country", "TotalAmount", "OrderCategory"]))

# Problem 2
cursor.execute('''
SELECT
    c.Country,
    COUNT(o.OrderID) AS TotalOrders
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
GROUP BY c.Country
HAVING COUNT(o.OrderID) > 1
''')

results = cursor.fetchall()
print(tabulate(results, headers=["Country", "TotalOrders"]))

# Problem 3
cursor.execute('''
SELECT
    c.CustomerName,
    o.OrderID,
    o.TotalAmount
FROM Customers c
LEFT JOIN Orders o ON c.CustomerID = o.CustomerID
''')

results = cursor.fetchall()
print(tabulate(results, headers=["CustomerName", "OrderID", "TotalAmount"]))

# Problem 4
cursor.execute('''
SELECT
    c.CustomerName,
    o.TotalAmount
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
WHERE o.TotalAmount > (SELECT AVG(TotalAmount) FROM Orders)
''')

results = cursor.fetchall()
print(tabulate(results, headers=["CustomerName", "TotalAmount"]))

# Problem 5
cursor.execute('''
WITH CountryAverage AS (
    SELECT
        c.Country,
        AVG(o.TotalAmount) AS AvgAmount
    FROM Orders o
    JOIN Customers c ON o.CustomerID = c.CustomerID
    GROUP BY c.Country
)
SELECT
    c.CustomerName,
    o.TotalAmount
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
JOIN CountryAverage ca ON c.Country = ca.Country
WHERE o.TotalAmount > ca.AvgAmount
''')

results = cursor.fetchall()
print(tabulate(results, headers=["CustomerName", "TotalAmount"]))

# Close connection
conn.close()

CustomerName    Country      TotalAmount  OrderCategory
--------------  ---------  -------------  ---------------
Alice           USA                120.5  Medium
Alice           USA                 80    Low
Bob             UK                 200    High
Charlie         USA                150    Medium
Diana           Canada              60    Low
Eve             Australia           90    Low
Country      TotalOrders
---------  -------------
USA                    3
CustomerName      OrderID    TotalAmount
--------------  ---------  -------------
Alice                 102           80
Alice                 101          120.5
Bob                   103          200
Charlie               104          150
Diana                 105           60
Eve                   106           90
CustomerName      TotalAmount
--------------  -------------
Alice                   120.5
Bob                     200
Charlie                 150
CustomerName      TotalAmount
--------------  -------------
Alice                   120.5
Charlie                 150

# Test